<div class="show">
  <p>
    <strong>Content:</strong>
    <%= @micropost.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @micropost.user.name %>
  </p>

  <p>
    <strong>Content created:</strong>
    <%= @micropost.updated_at.strftime("%F %T") %>
  </p>

  <%= link_to 'Back', microposts_path, :class => "btn btn-default" %>
  <% if @micropost.user == current_user %>
  <%= link_to 'Edit', edit_micropost_path(@micropost), :class => "btn btn-primary"  %> 
  <% end %>
</div>
